/* Estilos para telas maiores (desktops) */
.main-header {
  padding: 10px 0px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  column-gap: 40px;
}

.main-header__title {
  font-size: 80px;
  letter-spacing: -1.5px;
  cursor: pointer;
}

.main-header__title--blue {
  color: var(--blue);
  font-size: 60px;
}

.main-header__title--orange {
  color: var(--orange);
  font-size: 60px;
}

.container-menu {
  display: flex;
  flex-direction: column;
}

.main-header__menu ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  padding: 0;
  margin: 0;
}

.main-header__menu li {
  margin-right: 20px;
}

.main-header__menu a {
  color: var(--gray);
  font-weight: 400;
  font-size: 22px;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}

.main-header__menu a:hover {
  background-color: var(--blue);
  color: #fff;
}

.cart-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: var(--gray);
  font-size: 22px;
  transition: all 0.3s ease-in-out;
}

.cart-link i {
  margin-right: 5px;
  margin-top: -5px;
}

.badge-carrinho {
  background-color: var(--dark-blue);
  padding: 5px 10px;
  border-radius: 4px;
  color: white;
  font-size: 14px;
  margin-left: 5px;
  margin-top: -8px;
}

/* Estilos para tablets e dispositivos móveis */
@media screen and (max-width: 767px) {
  .main-header {
    padding: 10px;
  }

  .main-header__title {
    font-size: 60px;
  }

  .main-header__title--blue,
  .main-header__title--orange {
    font-size: 50px;
  }

  .container-menu ul {
    justify-content: center;
    margin-top: 10px;
  }

  .main-header__menu li {
    margin: 0 10px;
  }

  .main-header__menu a {
    font-size: 18px;
  }
}
